[submodule "imgui"]
	path = imgui
	url = https://github.com/ocornut/imgui.git
[submodule "tracy"]
	path = tracy
	url = https://github.com/wolfpld/tracy.git
[submodule "stb"]
	path = stb
	url = https://github.com/nothings/stb.git
[submodule "GSL"]
	path = GSL
	url = https://github.com/microsoft/GSL.git
