[submodule "imgui"]
	path = third_party/include/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "tracy"]
	path = third_party/tracy
	url = https://github.com/wolfpld/tracy.git
[submodule "stb"]
	path = third_party/include/stb
	url = https://github.com/nothings/stb.git
[submodule "GSL"]
	path = third_party/GSL
	url = https://github.com/microsoft/GSL.git
[submodule "gainput"]
	path = third_party/gainput
	url = https://github.com/jkuhlmann/gainput.git
